.header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.menu, .cart {
  font-size: 20px;
}
